{{! Partial header for library and browse }}
<nav class="nav">
  <img class="logo" src="/assets/img/novelty-logo.png" alt="Novelty Logo" />

  <section class="tabs">
    <section class="browseTab">
      <a href="/">
        <button
          class="button is-normal browseButton"
          id="browseButton"
        >Browse</button>
      </a>
    </section>
    <section class="yourLibraryTab">
      <a href="/librarypage">
        <button
          class="button is-normal yourLibraryButton"
          id="libraryButton"
        >Your Library</button>
      </a>
    </section>
    <section class="logoutTab">
      <button class="button is-normal logOutButton" id="logout">Logout</button>
    </section>
  </section>
</nav>

<script src="/js/logout.js"></script>
{{! <script src="/js/browse.js"></script>
<script src="/js/library.js"></script> }}