{{! Partial header for library and browse }}
<nav class="nav">
  <img class="logo" src="/assets/img/novelty-logo.png" alt="Novelty Logo" />

  <section class="tabs">
    <section class="browseTab">
      <button
        class="button is-normal browseButton"
        id="browseButton"
      >Browse</button>
    </section>
    <section class="yourLibraryTab">
      <button class="button is-normal yourLibraryButton" id="libraryButton">Your
        Library</button>
    </section>
    <section class="logoutTab">
      <button class="button is-normal logOutButton" id="logout">Logout</button>
    </section>
  </section>
</nav>

<script src="/js/logout.js"></script>