{{! Partial header for library and browse }}
<nav class="nav">
  <img class="logo" src="/assets/img/novelty-logo.png" alt="Novelty Logo" />

  <section class="tabs">
    <section class="browseTab">
      <a href="/" class="button is-normal">
        <button
          class="browseButton"
          id="browseButton"
        >Browse</button>
      </a>
    </section>
    <section class="yourLibraryTab">
      <a href="/librarypage" class="button is-normal">
        <button
          class="yourLibraryButton"
          id="libraryButton"
        >Your Library</button>
      </a>
    </section>
    <section class="logoutTab">
      <button class="button is-normal logoutButton" id="logoutButton">Logout</button>
    </section>
  </section>
</nav>

<script src="/js/logout.js"></script>