<!-- Begin Browse -->
<section class="browse">

  <!-- Begin steps -->
  <section class="steps">

    <!-- Step 1 -->
    <section class="step step-one">
      <p><span class="num">1.</span><br />Add a book to your library to share
        with others</p>
    </section>

    <!-- Step 2 -->
    <section class="step step-two">
      <p><span class="num">2.</span><br />Find a book to borrow</p>
    </section>

    <!-- Step 3 -->
    <section class="step step-three">
      <p><span class="num">3.</span><br />Read
        <span class="keep-track">(& we'll help you keep track)</span></p>
    </section>
  </section>

  <!-- Begin all books -->
  <section class="all-books">
    <div class="card browse-book">
      <div class="card-image browse-book-image">
        <figure class="image is-4by3">
          <img
            src="https://bulma.io/images/placeholders/1280x960.png"
            alt="Placeholder image"`
          />
        </figure>
      </div>
    </div>
  </section>
</section>

<!-- Begin Add Book Modal -->
<div class="modal add-book-modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <!-- Any other Bulma elements you want -->

    <!-- Begin Search Modal -->
    <section class="searchModal">

      <!-- Begin left -->
      <section class="searchLeft">
        <img
          class="logo"
          src="./assets/img/novelty-logo.png"
          alt="Novelty Logo"
        />
      </section>

      <!-- Begin right -->
      <section class="searchRight">

        <!-- Begin search form -->
        <section class="searchForm">

          <!-- Email field -->
          <section class="field isbn-field">
            <label class="label">ISBN</label>
            <p class="control has-icons-left has-icons-right">
              <input class="input" type="email" placeholder="ISBN" />
              <span class="icon is-small is-left">
                <i class="fas fa-book"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </p>
          </section>

          <!-- Add button -->
          <button
            class="button is-normal addBookButton"
            onClick="pageRedirect()"
          >Add Book</button>

        </section>
      </section>
    </section>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>

<!-- Begin Browse Book Modal -->
<div class="modal browse-book-modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <!-- Any other Bulma elements you want -->

    <!-- Begin browse Modal -->
    <section class="browseModal">

      <!-- Begin left -->
      <section class="browseLeft">
        <img
          class="logo"
          src="./assets/img/novelty-logo.png"
          alt="Novelty Logo"
        />
      </section>

      <!-- Begin right -->
      <section class="browseRight">
        <section class="browse-info">
          {{> book}}
        </section>
        </section>
      </section>
  </div>
  <button class="modal-close borrow-modal-close is-large" aria-label="close"></button>
</div>