<!-- Begin Login -->
<section class="login">

  <!-- Begin left -->
  <section class="left">
    <img class="logo" src="/assets/img/novelty-logo.png" alt="Novelty Logo" />
  </section>

  <!-- Begin right -->
  <section class="right">

    <!-- Begin login form -->
    <section class="loginForm">

      <!-- Email field -->
      <section class="field">
        <label class="label" for="email-login">Email</label>
        <p class="control has-icons-left has-icons-right">
          <input
            class="input"
            type="email"
            placeholder="Email"
            id="email-login"
          />
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
        </p>
      </section>

      <!-- Password field -->
      <section class="field">
        <label class="label" for="password-login">Password</label>
        <p class="control has-icons-left">
          <input
            class="input"
            type="password"
            placeholder="Password"
            id="password-login"
          />
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </section>

      <!-- Login button -->
      <button class="button is-normal loginButton" type="submit">Login</button>

    </section>
  </section>
</section>

<script src="/js/login.js"></script>