/* Global css */
:root {
    font-family: Arial, Helvetica, sans-serif;
    --brand-orange: #f9cb9cff;
    --brand-orange-hover: rgb(249, 211, 173);
}

/* Cover the entire screen */
html,
body {
    height: 100%;
    background-color: black;
}

/* This is the wrapper for the logo, search, browse, your library, and logout options */
.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
}

.nav > img {
    max-width: 200px;
}

.tabs{

}

.logo {
    background-color: var(--brand-orange);
}

/* This is the main wrapper for all content */
.main {
    display: flex;
    height: 100%;
    justify-content: center;
}

/* Used on the login page to hold the logo */
.left {
    background-color: #f9cb9cff;
    flex: 1 1 35%;
    display: flex;
    flex: column;
    align-items: center;
    justify-content: center;
}

/* Used on the login page to hold the login form */
.right {
    background-color: black;
    flex: 1 1 65%;
    display: flex;
    flex: column;
    align-items: center;
    justify-content: center;
}

.loginForm {
    width: 70%;

}

.input,
.button {
    width: 100%;
}

.button {
    background-color: var(--brand-orange);
    font-weight: bold;
}

.button:hover {
    background-color: var(--brand-orange-hover);
    font-weight: bold;
}

.label {
    color: white;
}

/* Used on browse page to show steps */

.browse {
    background-color: red;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
}

.steps {
    display: flex;
    height: fit-content;
    padding-top: 25px;
}

.step {
    background-color: aqua;
    border: 1px solid red;
    width: 250px;
    height: 150px;
    text-align: center;
    margin: auto;
}

.all-books {
    background-color: aquamarine;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    margin: 10px;
}

.card-image {
    width: 250px;
    flex: 1 1 250px;
}